body {
    background-color:  darkgray;
    display: block;
    width: 400px;
    margin: 30px auto 0;
}

header {
    display: flex;
    background-color:gray;
}

h1 {
    margin: auto;
}

.new {
    margin-top: 15px;
}

.checked{
    margin-top: 15px;
}

.checked input {
    margin-top: 15px;
    text-decoration: line-through;
    background-color: rgb(198, 231, 218)
}

.paragraph {
    display: flex;
    position: relative;
    margin-top: 15px;
}

#newTask {
    height: 50px;
    width: 70px;
    float: right;
    margin-top: 20px;
    background: none;
    border: 0px;
    color: rgb(6, 14, 134);
    font-size: 18px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.taskInput {
    width: 235px;
    margin-top: 15px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 20px;
    font-family: Lato, sans-serif;
    color: #888;
}

.editButton {
    background: none;
    border: 0px;
    color: rgb(6, 14, 134);
    font-size: 18px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.deleteButton {
    margin-left: 25px;
    background: none;
    border: 0px;
    color: rgb(207, 11, 11);
    font-size: 18px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

#newTaskText {
    width: 300px;
    margin-top: 25px;
    font-size: 18px;
    padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

#toDoRoot {
    border-top:black;
    border-bottom: black;
    padding-bottom: 4px;
    border-width: 3px 0px 3px 0px;
    border-style: outset;
    margin-top: 5px;
}